table {
    /*width: 100%;*/
    border-collapse: collapse;
}
th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
tbody tr td {
    border: 1px solid black;
    padding: 8px;
    text-align: right;
}
td:first-child {
    text-align: left;
}
tbody tr:first-of-type td {
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
